<!DOCTYPE html>
<html>
<head>
  <title>Inari cms realty</title>
  <%= stylesheet_link_tag    "inari/cms/realty/application", media: "all" %>
  <%= javascript_include_tag "inari/cms/realty/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
